<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Getlinks.Gettalllinks2"/>
      <class name="RahulShetty.Alertpopup"/>
      <class name="RahulShetty.Checkboxes"/>
      <class name="testngpractice.Dataprovider"/>
      <class name=".YourTestClass"/>
      <class name="Getlinks.Alllinks"/>
      <class name="rellativeloacters.Rellativelocators2"/>
      <class name="dropdown.Handlecheckbox"/>
      <class name="guidencecode.linksforandwhileloop"/>
      <class name="RahulShetty.Dynamicdropdown"/>
      <class name="RahulShetty.Autosugessivedropdown"/>
      <class name="links.Limkscapture"/>
      <class name="dropdown.Autosuggesivedropdown"/>
      <class name="Brokenlinks.Brokeliks4"/>
      <class name=".seleniumautomation"/>
      <class name="dimessionwidhthnexttab.screenshotsizewidhth"/>
      <class name="Getlinks.Getallinks"/>
      <class name="Mouseactions.Mouseaction2"/>
      <class name="practice.Explicitwait"/>
      <class name="dropdown.frameandling"/>
      <class name="dropdown.dynamicdropdown"/>
      <class name="Scrolljavascriptexecuter.Scroll1"/>
      <class name="Webtable.Serachwebtable3"/>
      <class name="practice.Screenshotes"/>
      <class name=".webelementmethod"/>
      <class name="Scroll.Scrooling"/>
      <class name="Mouseactions.MouseAction1"/>
      <class name="Scrolljavascriptexecuter.Scroll2"/>
      <class name="practice.Keyboardaction"/>
      <class name="Checkboxes.Checkboxhandle"/>
      <class name="dropdown.dropdown"/>
      <class name="practice.Screenshotes2"/>
      <class name=".Orangelogin"/>
      <class name="dropdown.allcheckboxes"/>
      <class name="practice.Windrowhandle1"/>
      <class name="testngpractice.Day2"/>
      <class name="Getlinks.Getliks4"/>
      <class name="testngpractice.Day4"/>
      <class name="dropdown.Dropdown2"/>
      <class name="dimessionwidhthnexttab.Tab3"/>
      <class name="dimessionwidhthnexttab.nextwindow2"/>
      <class name="links.Linkshandle"/>
      <class name="Getlinks.Getalllinkjs"/>
      <class name="practice.Popuphandle"/>
      <class name="listwebelement.Class1"/>
      <class name="practice.windohandles"/>
      <class name="Dataprovider.Loginprovider"/>
      <class name="practice.Mouseactions"/>
      <class name="Scrolljavascriptexecuter.Scroll"/>
      <class name=".Dropdownhadnling"/>
      <class name="Scroll.Scroll2"/>
      <class name="RahulShetty.Assertion"/>
      <class name=".Dataprovider"/>
      <class name="practice.Practice4"/>
      <class name="practice.Implicitwait"/>
      <class name="RahulShetty.Browserresize"/>
      <class name="practice.Practice2"/>
      <class name="practice.Mauseactions"/>
      <class name="practice.Practice3"/>
      <class name="dropdown.Autosugetiondropdown"/>
      <class name="testparcice2.Day1"/>
      <class name="testngpractice.Dataprovider3"/>
      <class name="testparcice2.Day2"/>
      <class name="Listener.Logintest"/>
      <class name="dropdown.dropdown3"/>
      <class name="dropdown.dropdown1"/>
      <class name="Webtable.Searchwebtable2"/>
      <class name="windowhandle.Window1"/>
      <class name="RahulShetty.NavigateCommand"/>
      <class name="RahulShetty.Browserposition"/>
      <class name="Brokenlinks.Brokenlink2"/>
      <class name="testngpractice.Day1"/>
      <class name="Brokenlinks.Brokenlink1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
